<!doctype html>
<html lang="en">
  <head>
    <title>Humanities</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="1.3styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand h1" href="#">Animal Communication</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
        <a class="nav-link" href="../1-3main.html">Home</a>
        <a class="nav-link active">1.Bees</a>
        <a class="nav-link" href="alex.html">2.Parrots</a>
        <a class="nav-link" href="kanzi.html">3.Bonobos</a>
        <a class="nav-link" href="human.html">4.Humans</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron" style="margin-top:10px;">
  <h1 class="display-3">Bee Communication</h1>
  <p class="lead">Bees dance based on where the food source is. They had a circular dance and a tail wiggling dance. Their dance is based on the position of the sun.</p>
  <hr class="my-4">
  <h3>Direction</h3>
  <p class="lead">This dance gives an angle based on the sun's position. Walking up the hive means that it is toward the sun. Down the hive means that it is exactly opposite of the sun. Moving in any other direction causes the angle the be the same offset as the bee's direction is from the sun.</p>
  <hr class="my-4">
  <h3>Distance</h3>
  <p class="lead">The bees use the same dance to show the distance. This part is much less complicated. The longer you walk in that direction, the further away the source is. The circle dance is also used for distance. Probably saying that it is with sight range of the hive.</p>

</div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </body>
</html>