<!doctype html>
<html lang="en">
  <head>
    <title>Humanities</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="1.3styles.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand h1" href="#">Animal Communication</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
        <a class="nav-link" href="../1-3main.html">Home</a>
        <a class="nav-link" href="bee.html">1.Bees</a>
        <a class="nav-link" href="alex.html">2.Parrots</a>
        <a class="nav-link" href="kanzi.html">3.Bonobos</a>
        <a class="nav-link active">4.Humans</a>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron" style="margin-top:10px;">
  <h1 class="display-3">Human communication <i>is</i> different</h1>
  <p class="lead">Humans use collective learning. That is why our language is so complex. Any other animals language cannot convey abstract ideas, like a unicorn or dark matter. We are smart creatures that create new things every day so we need a language that conveys those ideas.</p>
  <hr class="my-4">
  <h3>Why do we have different languages?</h3>
  <p class="lead">When humans migrated throughout the world, they, spread out causing them to separate from each other. Then languages evolved causing them to be so different. That is also why most languages have words with the same origin. </p>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </body>
</html>